"*":
  editor:
    showIndentGuide: true
    invisibles: {}
    softWrapAtPreferredLineLength: true
    fontSize: 13
    fontFamily: "Bitstream Vera Sans Mono"
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
    ]
    themes: [
      "nucleus-dark-ui"
      "atom-dark-fusion-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-python"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
